---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>

<style>
    a {
        padding: 0.5rem 1 rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }

    a:hover {
        color: #f0f0f0;
        background-color: #6b2cb0;
    }
</style>